<h1>Crear cuarto</h1>


<form action="/rooms/create" method="POST">

	<label>Nombre</label>
	<input type="text" name="name" />

	<label>Descripción</label>
	<input type="text" name="description" />

	<label>Imagen (URL)</label>
	<input type="text" name="imageUrl" />

	<button type="submit">Crear cuarto</button>

</form>